{% extends 'CMSApp/base.html' %}
{% block content %}
{% load static %}

<div class="row" style="padding: 10px">
    <h6 class="center">
        {{ user_obj.username }}
        {% if user.username == user_obj.username %}
            <a class="btn red white-text modal-trigger right" style="margin-left: 10px" href="#modal-delete-profile" >Delete Profile</a>
            <a class="btn blue white-text right edit-profile right" onclick="edit_profile()">Edit</a>
            <a class="btn green white-text right save-profile right" onclick="save_profile()">Save</a>
        {% endif %}
    </h6>
    <div class="divider col s12"></div>
    <div class="col s12 row edit-profile" style="padding: 0">
        <label for="user-account-id">Account ID</label>
        <h6 id="user-account-id">{{ user_obj.account_id }}</h6>
        <label for="user-name">Name</label>
        <h6 id="user-name">{{ user_obj.first_name }} {{ user_obj.last_name }}</h6>
        <label for="user-email">Email</label>
        <h6 id="user-email">{{ user_obj.email }}</h6>
        <label>Tier</label>
        <h6 id="user-tier">{{ user_obj.tier }}</h6>
        <label for="user-access_key">API access key</label>
        <h6 id="user-access_key">{{ user_obj.access_key }}</h6>
    </div>
    <div class="col s12 row save-profile" style="padding: 0">
        <div class="col s6">
            <label for="input-first-name">First Name</label>
            <input id="input-first-name" type="text" value="{{ user_obj.first_name }}">
        </div>
        <div class="col s6">
            <label for="input-last-name">Last Name</label>
            <input id="input-last-name" type="text" value="{{ user_obj.last_name }}">
        </div>
        <div class="col s6">
            <label for="input-email">Email ID</label>
            <input id="input-email" value="{{ user_obj.email }}">
        </div>
        <div class="col s6">
            <label for="input-password">Password</label>
            <input id="input-password" type="password" >
        </div>
        <div class="col s6">
            <label for="select-tier">Tier</label>
            <select id="select-tier">
                <option selected disabled value="-1">Select a tier</option>
                {% for tier in tier_objs %}
                    <option id="tier-{{ tier.pk }}" value="tier-{{ tier.pk }}" {% if tier == user_obj.tier %} selected {% endif %}>{{ tier }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="delete-profile">

        <div class="modal" id="modal-delete-profile">
            <div class="modal-content">
                Are you sure you want to delete your profile?
            </div>
            <div class="modal-footer">
                <a class="btn grey white-text modal-close" href="javascript:void(0)">Cancel</a>
                <a class="btn red white-text modal-close" href="javascript:void(0)" onclick="delete_profile()">Yes, delete</a>
            </div>
        </div>
    </div>

</div>

<script>
username = "{{ user_obj.username }}";

$(document).ready(function (){
    $('.save-profile').hide();
})

function edit_profile(){
    $('.save-profile').show();
    $('.edit-profile').hide();
}

function save_profile(){
    first_name = $('#input-first-name').val();
    last_name = $('#input-last-name').val();
    email_id = $('#input-email').val();
    password = $('#input-password').val();
    tier_pk = $('#select-tier').val();

    if(tier_pk == '-1'){
        showToast("Please select a tier to continue");
        return;
    }
    else{
        tier_pk = tier_pk.split('-')[1];
    }

    if(first_name == null || first_name.trim() == ""){
        showToast("Enter first name", 2000);
        return;
    }
    if(last_name == null || last_name.trim() == ""){
        showToast("Enter last name", 2000);
        return;
    }

    if(!validateEmail(email_id)){
        showToast("Enter last name", 2000);
        return;
    }

    data_json = {
        username: username,
        first_name: first_name,
        last_name: last_name,
        email: email_id,
        password: password,
        tier: tier_pk,
    };

    $.ajax({
        url: "{% url 'user-profile-API' %}",
        type: 'PATCH',
        headers: {
            'X-CSRFToken': getCsrfToken()
        },
        data: data_json,
        success: function(response, status, xhr) {
            if (xhr.status == 200) {
                showToast("Profile updated successfully!");
                setTimeout(function (){
                    location.reload();
                }, 2000);
            }
            else{
                showToast("Internal server error");
            }
        },
        error: function(xhr, textstatus, errorthrown) {
            console.log("Please report this error: " + errorthrown + xhr.status + xhr.responseText);
        }
    });
}
function delete_profile(){
    $.ajax({
        url: "{% url 'user-profile-API' %}",
        type: 'PATCH',
        headers: {
            'X-CSRFToken': getCsrfToken()
        },
        data: {
            is_active:false,
        },
        success: function(response, status, xhr) {
            if (xhr.status == 200) {
                showToast("Profile deleted successfully!");
                setTimeout(function (){
                    location.reload();
                }, 2000);
            }
            else{
                showToast("Internal server error");
            }
        },
        error: function(xhr, textstatus, errorthrown) {
            console.log("Please report this error: " + errorthrown + xhr.status + xhr.responseText);
        }
    });
}
</script>
{% endblock %}