absl-py==0.10.0
aiohttp==3.6.2
appdirs==1.4.4
APScheduler==3.6.3
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.3.3
astunparse==1.6.3
async-timeout==3.0.1
attrs==19.3.0
aylien-apiclient==0.7.0
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
boto==2.49.0
boto3==1.9.228
botocore==1.12.228
bs4==0.0.1
cachetools==4.1.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
crypto==1.4.1
cryptography==2.8
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.1
Django==3.0
django-ckeditor==5.8.0
django-cors-headers==3.1.0
django-crontab==0.7.1
django-extensions==3.0.5
django-js-asset==1.2.2
django-limits==0.0.6
django-rest-auth==0.9.5
django-rest-framework==0.1.0
django-rest-swagger==2.2.0
django-saml2-auth==2.2.1
django-user-agents==0.4.0
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
docutils==0.15.2
drf-yasg==1.17.0
emoji==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
fpdf==1.7.2
future==0.18.2
gast==0.3.3
gensim==3.8.0
google-api-python-client==1.6.4
google-auth==1.22.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.32.0
gunicorn==19.9.0
h5py==2.10.0
html5lib==1.0.1
httplib2==0.13.1
ibm-cloud-sdk-core==0.5.1
ibm-watson==3.0.1
idna==2.9
idna-ssl==1.1.0
imageio==2.6.1
imageio-ffmpeg==0.3.0
importlib-metadata==1.3.0
importlib-resources==3.0.0
inflection==0.3.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
itypes==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.4.3
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.0.2
moviepy==1.0.1
multidict==4.7.6
Naked==0.1.31
nbconvert==5.6.1
nbformat==5.0.7
nltk==3.4.5
notebook==6.1.3
numpy==1.17.2
oauth2client==4.1.3
oauthlib==3.1.0
openapi-codec==1.3.2
opencv-python==4.4.0.42
openpyxl==3.0.4
opt-einsum==3.3.0
packaging==19.2
pandas==1.1.1
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.1.0
proglog==0.1.9
prometheus-client==0.8.0
prompt-toolkit==3.0.6
protobuf==3.13.0
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybase64==1.0.1
pycparser==2.19
pycrypto==2.6.1
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.4.4
pymongo==3.10.0
pyngrok==4.1.12
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyPdf==1.13
PyPDF2==1.26.0
pyrsistent==0.15.6
pysaml2==5.0.0
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.2
pyzmq==19.0.2
qtconsole==4.7.6
QtPy==1.9.0
reportlab==3.5.34
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
s3transfer==0.2.1
scipy==1.3.1
selenium==3.141.0
Send2Trash==1.5.0
shellescape==3.8.1
simplejson==3.17.0
six==1.14.0
smart-open==1.8.4
SoundFile==0.10.3.post1
soupsieve==2.0.1
SpeechRecognition==3.8.1
SQLAlchemy==1.3.12
sqlparse==0.3.0
swagger-spec-validator==2.4.3
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.41.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
tzlocal==2.0.0
ua-parser==0.8.0
uritemplate==3.0.1
urllib3==1.25.8
user-agents==2.0
video-indexer==0.1.6
virtualenv==20.0.30
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.48.0
Werkzeug==1.0.1
whitenoise==4.1.3
widgetsnbextension==3.5.1
wrapt==1.11.2
xhtml2pdf==0.2.4
xlrd==1.2.0
xlwt==1.3.0
xmltodict==0.12.0
yarl==1.6.0
zipp==0.6.0
